= simple_form_for @entry do |f|
  .panel.panel-default
    .panel-body
      =f.hidden_field :entry_type
      =f.input :name
      =f.input :email
      =f.input :phone
      =f.input :date, as: :string
      =f.input :from
      =f.input :to
      =f.input :seats
      =f.input :driver, label: @entry.is_request? ? t('would_you_drive') : t('are_you_driving_youself')
      =f.input :notes, input_html: { rows: 10 }

    .panel-footer
      .form-actions
        =f.submit t('create_entry'), class: 'btn btn-primary'
        =link_to t('cancel'), root_path, class: 'btn'

:javascript
  $(function () {
    $('#entry_date').datetimepicker({
      format: "dd.mm.yyyy hh:ii",
      autoclose: true,
      todayBtn: true,
      startDate: "#{Time.now.to_s}",
      minuteStep: 10,
    });
  });
