.container
  .row
    .col-md-2
    .col-md-8
      .page-header
        %h1= @title

      .panel.panel-default
        .panel-heading
          %h3.panel-title= t('details')

        .panel-body
          .row
            .col-md-3
              =t('name') + ':'
            .col-md-9
              =@entry.name

          -unless @entry.phone.blank?
            .row
              .col-md-3
                =t('phone') + ':'
              .col-md-9
                =@entry.phone

          .row
            .col-md-3
              =t('entry_date') + ':'
            .col-md-9
              =l @entry.date, format: :long

          .row
            .col-md-3
              =t('from') + ':'
            .col-md-9
              =@entry.from

          .row
            .col-md-3
              =t('to') + ':'
            .col-md-9
              =@entry.to

          .row
            .col-md-3
              =t('seats') + ':'
            .col-md-9
              =@entry.seats

          - if @entry.is_request?
            .row
              .col-md-3
                =t('person_would_drive')
              .col-md-9
                =yes_no(@entry.driver)

          .row
            .col-md-3
              =t('notes') + ':'
            .col-md-9
              =@entry.notes

        .panel-footer
          .form-actions
            =link_to root_path(anchor: @entry.entry_type.pluralize), class: 'btn btn-default btn-primary', role: 'button' do
              %span.glyphicon.glyphicon-arrow-left
              =t('back')

      =form_tag entry_send_email_path(@entry) do
        %h2=t 'contact'
        .panel.panel-default
          .panel-heading
            %h3.panel-title= t('to_contact_text', name: @entry.name)

          .panel-body
            .form-group
              =label_tag t("simple_form.labels.entry.email"), nil, class: 'control-label'
              =text_field_tag :from, nil, class: 'form-control'

            - if @entry.entry_type.to_sym == :offer
              .form-group
                =label_tag t('would_you_drive'), nil, class: 'control-label'
                =check_box_tag :would_drive, nil, class: 'check_box'

            .form-group
              =label_tag t('your_message'), nil, class: 'control-label'
              =text_area_tag :text, nil, size: "100x20", class: 'text_field form-control'

          .panel-footer
            .form-actions
              =submit_tag t('send_email'), class: 'btn btn-primary'
