// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* flash-messages */

.fat-buttons {
  text-align: center;

  .btn {
    margin: 5px;
  }
}

.flash {
  padding-top: 30px;
  span {
    font-size: 150%;
  }
}

body {
  padding-bottom: 20px;
}

span.badge {
  margin-left: 8px;
}