!!!
%html
  %head
    %title= Settings.platform_name
    =stylesheet_link_tag "application", media: "all", "data-turbolinks-track": true
    =javascript_include_tag "application", "data-turbolinks-track": true
    =csrf_meta_tags

  %body
    .container
      -if flash.any?
        .row
          .col-md-12
            .flash
              -flash.each do |msg_type, message|
                %div{ class: "alert #{bootstrap_class_for(msg_type)} fade in", role: "alert" }
                  %button.close{ data: { dismiss: 'alert' }} ×
                  %span=message

      =yield

  #footer
    .container.text-center
      .row
        .col-md-12
          %hr

      .row
        .col-md-12
          - if I18n.locale != :en
            =link_to "English version", url_for(locale: :en)

          - if I18n.locale != :de
            =link_to "Deutsche Version", url_for(locale: :de)

      -unless Settings.ui and Settings.ui.hide_project_link == false
        .row
          .col-md-12
            %small
              =link_to "GitHub project", "https://github.com/zonque/AlRide"
